/* custom forms styles */
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left:-9999px !important;
}
/* custom checkbox styles */
.chk-area {
	margin: 0 3px 0 0;
	float: left;
	overflow: hidden;
	height: 14px;
	width: 14px;
}
.chk-area span {
	background: url(../img/images/bg-checkbox.gif) no-repeat;
	display: block;
	width: 42px;
	height: 28px;
}
.chk-unchecked:hover span {
	margin-left: -28px;
}
.chk-checked span {
	margin-top: -14px;
}
.chk-disabled span {
	margin-left: -14px;
}
.jcf-label-active,
.chk-label-active {
	font-weight: bold;
}
/* radio button styles */
.rad-area {
	margin: 0 3px 0 0;
	float: left;
	overflow: hidden;
	height: 18px;
	width: 17px;
}
.rad-area span {
	background: url(../img/images/bg-radio.gif) no-repeat;
	display: block;
	width: 51px;
	height: 36px;
}
.rad-focus span {
	margin-left: -34px;
}
.rad-checked span {
	margin-top: -18px;
}
.rad-disabled span {
	margin-left: -17px;
}
/* custom select styles */
.select-area {
	background: url(../img/images/bg-select.gif) repeat-x 0 -31px;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 4px;
	height: 31px;
}
.select-area .select-opener {
	background: url(../img/images/bg-select.gif) no-repeat 100% -62px;
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	width: 31px;
	height: 31px;
}
.select-area .left {
	background: url(../img/images/bg-select.gif) no-repeat;
	position: absolute;
	width: 10px;
	height: 31px;
	z-index: 1;
	top: 0;
	left: 0;
}
.select-area .center {
	white-space: nowrap;
	position: relative;
	line-height: 21px;
	cursor: default;
	display: block;
	padding: 5px;
	z-index: 2;
}
.select-area .center img {
	margin: 5px 5px 0 0;
	position: relative;
	float: left;
}
.options-overflow div.drop-list {
	overflow: auto;
}
.options-hidden {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}
.select-options {
	z-index: 3000;
	background: #fafafa;
	position: absolute;
}
.select-options .drop-holder {
	border: 2px solid #ffe931;
	border-width: 0 2px 2px;
	height: 1%;
}
.select-options-flipped .drop-holder {
	border-width: 2px 2px 0;
}
.select-options div.drop-list {
	width: 100%;
}
.select-options ul {
	overflow: hidden;
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}
.select-options ul li {
	overflow: hidden;
	float: left;
	width: 100%;
}
.select-options ul a {
	text-decoration: none;
	cursor: default;
	color: #666;
	display: block;
	overflow: hidden;
	height: 1%;
	padding: 5px;
}
.select-options ul a span {
	cursor: default;
	float: left;
}
.select-options .item-selected a {
	text-decoration: none;
	background: #666;
	color: #fff;
}
.select-options ul a:hover {
	text-decoration: none;
}
.select-options ul a:focus {
	outline: none;
}
.select-options .optgroup strong{
	cursor: default;
	display: block;
	width: 100%;
}
.select-options .optgroup strong em {
	display: block;
	padding: 5px;
	height: 1%;
}
.select-options .optgroup ul a {
	padding-left: 20px;
}
.select-options img {
	margin: 2px 3px 0 0;
	float: left;
	border: 0;
}
.select-disabled {background-position: 0 -124px;color: #bbb;}
.select-disabled .left {background-position: 0 -93px;}
.select-disabled .select-opener {background-position: 100% -155px;}

.select-focus {background-position: 0 -217px;}
.select-focus .left {background-position: 0 -186px;}
.select-focus .select-opener {background-position: 100% -248px;}

/* multiple select styles */
.select-multiple-wrapper {
	background: #dfdfdf;
}
.select-multiple-wrapper .wtop, .select-multiple-wrapper .wbot {
	background: url(../img/images/bg-multiple.gif) no-repeat;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	height: 5px;
}
.select-multiple-wrapper .wtop .tr, .select-multiple-wrapper .wbot .br {
	background: url(../img/images/bg-multiple.gif) no-repeat 100% 0;
	width: 50%;
	float: right;
	height: 5px;
}
.select-multiple-wrapper .cwrap, .select-multiple-wrapper .chold {
	background: url(../img/images/bg-multiple.gif) no-repeat 0 50%;
	padding: 0 0 0 5px;
}
.select-multiple-wrapper .chold {
	background-position: 100% 50%;
	padding: 0 5px 0 0;
}
.select-multiple-wrapper .wbot {
	background-position: 0 100%;
}
.select-multiple-wrapper .wbot .br {
	background-position: 100% 100%;
}
.select-multiple-focus .wtop,
.select-multiple-focus .wbot,
.select-multiple-focus .wtop .tr,
.select-multiple-focus .wbot .br,
.select-multiple-focus .cwrap,
.select-multiple-focus .chold {
	background-image: url(../img/images/bg-multiple-focus.gif) !important;
}
.select-multiple-wrapper ul {
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.select-multiple-wrapper ul li {
	padding: 0 0 1px;
	float: left;
	width: 100%;
}
.select-multiple-wrapper ul a {
	text-decoration: none;
	overflow: hidden;
	display: block;
	margin: 0 4px 0 0;
	padding: 0 0 0 5px;
	line-height: 19px;
	color: #000;
	height: 20px;
}
div.noscroll-vertical ul a {
	margin: 0;
}
.select-multiple-wrapper ul a span {
	display: block;
	height: 20px;
	padding: 0 5px 0 0;
}
.select-multiple-wrapper .item-selected a {
	background: #8e9294 url(../img/images/bg-select-item.gif) no-repeat;
	color: #fff;
}
.select-multiple-wrapper .item-selected a span {
	background: url(../img/images/bg-select-item.gif) no-repeat 100% 0;
}
.select-multiple-wrapper ul a:hover {
	text-decoration: none;
}
.select-multiple-wrapper a, .select-multiple-wrapper span {
	cursor: default;
}
/* custom input type file */
.file-area {
	position: relative;
	line-height: 31px;
	overflow: hidden;
	padding: 0 10px 0 0;
	float: left;
	clear: both;
	height: 31px;
}
.file-area .jcf-wrap {
	position: relative;
	overflow: hidden;
	height: 31px;
	width: 0;
	margin: 0 0 -31px;
	z-index: 100;
	font-size: 0;
	line-height: 0;
}
.file-area .jcf-input-wrapper {
	position: relative;
	overflow: hidden;
	height: 31px;
	float: left;
}
.file-area .jcf-fake-input {
	background: url(../img/images/bg-upload.gif) no-repeat;
	padding: 0 0 0 10px;
	white-space: nowrap;
	float: left;
}
.file-area .jcf-fake-input span {
	background: url(../img/images/bg-upload.gif) no-repeat 100% -62px;
	cursor: default;
	overflow: hidden;
	padding: 0 10px 0 0;
	float: left;
}
.file-area .jcf-fake-input em {
	float: left;
	height: 31px;
	width: 180px;
	font-style: normal;
	padding: 0 0 0 20px;
	overflow: hidden;
	background: url(../img/images/ext-none.gif) no-repeat 0 50%;
}
.file-area .jcf-upload-button {
	background: url(../img/images/bg-upload.gif) no-repeat 0 -93px;
	padding: 0 0 0 10px;
	margin: 0 0 0 5px;
	color: #fff;
	float: left;
}
.file-area .jcf-upload-button span {
	background: url(../img/images/bg-upload.gif) no-repeat 100% -93px;
	padding: 0 10px 0 0;
	cursor: default;
	float: left;
	height: 31px;
}
.file-input-opacity {
	z-index: 100;
	position: absolute;
	height: 31px;
	line-height: 31px;
}
.file-disabled {color: #bbb;}
.file-disabled .jcf-fake-input {background-position: 0 -124px;}
.file-disabled .jcf-fake-input span{background-position: 100% -186px;}
.file-disabled .jcf-upload-button {background-position: 0 -217px;}
.file-disabled .jcf-upload-button span{background-position: 100% -217px;}

.file-focus .jcf-fake-input {background-position: 0 -248px;}
.file-focus .jcf-fake-input span{background-position: 100% -310px;}
.file-focus .jcf-upload-button {background-position: 0 -341px;}
.file-focus .jcf-upload-button span{background-position: 100% -341px;}

/* file extension styles */
.no-file .jcf-fake-input em{
	background: none;
}
.extension-jpg .jcf-fake-input em,
.extension-bmp .jcf-fake-input em,
.extension-gif .jcf-fake-input em,
.extension-png .jcf-fake-input em{
	background-image: url(../img/images/ext-image.gif);
}
.extension-odt .jcf-fake-input em,
.extension-doc .jcf-fake-input em,
.extension-docx .jcf-fake-input em{
	background-image: url(../img/images/ext-doc.gif);
}
.extension-ods .jcf-fake-input em,
.extension-xls .jcf-fake-input em,
.extension-xlsx .jcf-fake-input em{
	background-image: url(../img/images/ext-xls.gif);
}
.extension-swf .jcf-fake-input em,
.extension-fla .jcf-fake-input em{
	background-image: url(../img/images/ext-flash.gif);
}
.extension-db .jcf-fake-input em,
.extension-sql .jcf-fake-input em{
	background-image: url(../img/images/ext-db.gif);
}
.extension-htm .jcf-fake-input em,
.extension-html .jcf-fake-input em{
	background-image: url(../img/images/ext-html.gif);
}
.extension-txt .jcf-fake-input em,
.extension-rtf .jcf-fake-input em{
	background-image: url(../img/images/ext-txt.gif);
}
.extension-zip .jcf-fake-input em,
.extension-rar .jcf-fake-input em{
	background-image: url(../img/images/ext-zip.gif);
}
.extension-pdf .jcf-fake-input em{
	background-image: url(../img/images/ext-pdf.gif);
}
/* custom scroll styles */
.scrollable-focus1,
.scrollable-focus1 .scrollable-area{
	background: #ffd !important;
}
.scrollable-focus1 .scrollable-area .scrollable-area {
	background: #fff !important;
}
.scrollable-area-wrapper {
	position: relative;
	overflow: hidden;
}
.scrollable-area-wrapper .vscrollbar {
	background: url(../img/images/bg-vscrollable.gif) no-repeat 0 -20px;
	position: absolute;
	cursor: default;
	height: 100%;
	width: 20px;
	top: 0;
	right: 0;
	z-index: 100;
}
.scrollable-area-wrapper .scrollable-fake {
	overflow: hidden;
	position: relative;
}
.scrollable-area-wrapper .vscroll-up,
.scrollable-area-wrapper .vscroll-down {
	background: url(../img/images/bg-vscrollable.gif) no-repeat;
	overflow: hidden;
	width: 20px;
	height: 20px;
	right: 0;
	top: 0;
}
.scrollable-area-wrapper .vscroll-line {
	position: relative;
	width: 100%;
}
.scrollable-area-wrapper .vscroll-down {
	background-position: -20px 0;
	top: auto;
	bottom: 0;
}
.scrollable-area-wrapper .vscroll-slider {
	background: url(../img/images/bg-vscrollable.gif) no-repeat -20px 50%;
	position: absolute;
	overflow: hidden;
	width: 20px;
}
.scrollable-area-wrapper .scroll-bar-top,
.scrollable-area-wrapper .scroll-bar-bottom {
	background: url(../img/images/bg-vscrollable.gif) no-repeat -20px -20px;
	position: absolute;
	top: 0;
	width: 20px;
	height: 20px;
}
.scrollable-area-wrapper .scroll-bar-bottom {
	background-position: -20px 100%;
	top: auto;
	bottom: 0;
}
/* horizontal scroll styles */
.scrollable-area-wrapper .hscrollbar {
	background: url(../img/images/bg-hscrollable.gif) no-repeat -20px 0;
	position: absolute;
	cursor: default;
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
	z-index: 100;
}
.scrollable-area-wrapper .hscroll-line {
	position: relative;
	height: 20px;
	float: left;
}
.scrollable-area-wrapper .hscroll-left,
.scrollable-area-wrapper .hscroll-right {
	background: url(../img/images/bg-hscrollable.gif) no-repeat;
	float: left;
	overflow: hidden;
	width: 20px;
	height: 20px;
	left: 0;
	top: 0;
}
.scrollable-area-wrapper .hscroll-right {
	background-position: 0 -20px;
	left: auto;
	right: 0;
}
.scrollable-area-wrapper .hscroll-slider {
	background: url(../img/images/bg-hscrollable.gif) no-repeat 50% -20px;
	position: absolute;
	overflow: hidden;
	height: 20px;
}
.scrollable-area-wrapper .scroll-bar-left,
.scrollable-area-wrapper .scroll-bar-right {
	background: url(../img/images/bg-hscrollable.gif) no-repeat -20px -20px;
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
}
.scrollable-area-wrapper .scroll-bar-right {
	background-position: 100% -20px;
	left: auto;
	right: 0;
}
/* scrollable textarea styles */
.textarea-wrapper {
	overflow: hidden;
	float: left;
}
.textarea-wrapper textarea,
.textarea-wrapper textarea:focus {
	border: 0;
	margin: 0;
	padding: 0 8px;
	outline: none;
	background: none;
	vertical-align: top;
}
.textarea-wrapper .ctop,
.textarea-wrapper .cbot,
.textarea-wrapper .cright, 
.textarea-wrapper .cmid, 
.textarea-wrapper .chold {
	background: url(../img/images/bg-textarea.gif) no-repeat;
}
.textarea-wrapper-focus .ctop,
.textarea-wrapper-focus .cbot,
.textarea-wrapper-focus .cright, 
.textarea-wrapper-focus .cmid, 
.textarea-wrapper-focus .chold {
	background-image: url(../img/images/bg-textarea-focus.gif) !important;
}
.textarea-wrapper .ctop,
.textarea-wrapper .cbot {
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	height: 5px;
}
.textarea-wrapper .ctop .cright,
.textarea-wrapper .cbot .cright {
	background-position: 100% 0;
	width: 50%;
	height: 5px;
	float: right;
}
.textarea-wrapper .cbot .cright {
	background-position: 100% 100%;
}
.textarea-wrapper .cbot {
	background-position: 0 100%;
}
.textarea-wrapper .cmid {
	background-position: 0 50%;
	padding: 0 0 0 5px;
}
.textarea-wrapper .chold {
	background-position: 100% 50%;
	padding: 0 5px 0 0;
}