.left-sidebar{
	.login-form{
		display: none;
	}
}

.flexbox{
	display: flex;
}

.mobile-trash,
.mobile-banners{
	display: none;
}

.navbar-toggle{
	background: rgba(255, 255 ,255, .6);
	border-radius: 2px;
	border: none;
	cursor: pointer;
	display: none;
	height: 40px;
	outline: none;
	position: fixed;
	right: 10px;
	text-align: center;
	top: 5px;
	width: 40px;
	z-index: 1000;
	.icon-bar{
		background-color: #797979;
		display: block;
		height: 3px;
		margin: 5px auto;
		width: 24px;
	}

	&:hover{
		.icon-bar{
			background-color: #000;
		}
	}

	&:active{
		outline: none;
	}
}

#fancybox-content{
	height: auto !important;
}

footer{
	.footer-box{
		background: none;
	}
	.footer-nav{
		border-bottom: 1px solid #dedede;
		padding-bottom: 33px;
	}
	.footer-soc{
		background: url(../img/images/bg-footer-bottom.png) repeat-x center bottom;
		padding-top: 10px;
		padding-bottom: 20px;
		margin-bottom: 15px;
	}
}

.mobile-header{
	background: #fff;
	box-shadow: 0 5px 15px #ccc;
	display: none;
	font-size: 18px;
	left: 0;
	padding: 10px 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 999;

	.metro{
		font-size: 18px;
		span{
			background: url(../img/images/metro.gif) no-repeat left 5px;
			display: inline-block;
			font-weight: bold;
			height: 28px;
			padding-left: 40px;
			padding-top: 8px;
		}
	}

	.phones{
		margin-bottom: 15px;
		p{
			font-size: 13px;
			margin-bottom: 4px;
		}
		a{
			color: #555;
			display: block;
			font-size: 18px;
			text-decoration: none;
			margin-bottom: 2px;
			strong{
				color: #000;				
			}
		}
	}

	.contacts p,
	.email a{
		color: #41900a;
	}

	.address,
	.contacts{
		margin: 15px 0;
	}
	.contacts a{
		color: #000;
	}
}



.table-responsive {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	margin-bottom: 15px;
	overflow-y: hidden;
	width: 100%;
	display: block !important;
}



.boxed-thank{
	padding: 20px 15px;
}


.main-full{
	section.content{
		margin-left: 0;
	}
}


.form-adapt-order{
	.form-type .text[name="phone"]{
		width: 757px !important;
	}
}

@media (min-width: 200px){
	body{
		min-width: 0;
	}

	#page-wrapper{
		min-width: 0;
		max-width: 100%;
	}	
}


@media (min-width: 660px){
	body{
		min-width: 623px;
	}

	#page-wrapper{
		min-width: 623px;
		max-width: 100%;
	}
}


@media (min-width: 880px){
	body{
		min-width: 842px;
	}

	#page-wrapper{
		min-width: 842px;
	}
}


@media (min-width: 1280px){
	body{
		min-width: 1240px;
	}

	#page-wrapper{
		min-width: 1240px;
	}
}

@media (min-width: 1600px){
	body{
		min-width: 1280px;
	}

	#page-wrapper{
		min-width: 1260px;
		max-width: 1600px;
	}


	.mebelslid{
		.caroufredsel_wrapper{
			height: 582px !important;
		}
	}
}





@media (max-width: 1675px){
	.form-adapt-order_call,
	.form-adapt-order
	{
		.form-type .text[name="phone"]{
			width: calc(100% - 281px) !important
		}
	}
}


@media (max-width: 1550px){
	.form-adapt-order_call,
	.form-adapt-order
	{
		.form-type .text[name="phone"]{
			width: calc(100% - 278px) !important
		}
	}	
}


@media (max-width: 1470px){
	.basket_page{
		.itogo{
			display: flex;
			justify-content: space-between;
		}
		.pereschet{
			margin-left: 0;
		}

		.price-itogo{
			width: 380px;
		}
		.backet-form .price-itogo{
			// width: auto;
		}
	}	

	.form-adapt-order_call,
	.form-adapt-order
	{
		.form-type .text[name="phone"]{
			width: calc(100% - 270px) !important
		}
	}	

}


@media (max-width: 1400px){
	.boxed-content{
		img{
			display: block;
			float: none !important;
			height: auto !important;
			margin-left: auto !important;
			margin-right: auto !important;
			max-width: 100%;
		}
	}

	.cont-form .form-text{
		padding-left: 0;
		padding-right: 0;
	}	

	.mebelslid{
		$w : 700px;
		div.slide img{
			width: $w;
			display: inline !important;
		}
		.caroufredsel_wrapper{
			max-width: $w;
			height: 545px !important;
		}
	}
	.slider-conf{
		float: left !important;
		img{
		}

		li img{
			height: 60px !important;
			margin-left: 0 !important;
			margin-right: 0 !important;
			display: inline !important;
		}
	}


	.basket_page{
		.price-itogo{
			width: 360px;
		}

		.itogo{
			padding-right: 20px;
		}

		.pereschet
		{
			font-size: 18px;
		}

		.price-itogo{
			font-size: 22px;
		}
	}

	.form-adapt-order_call,
	.form-adapt-order
	{
		.form-type .text[name="phone"]{
			width: calc(100% - 267px) !important
		}
	}	
}


@media (max-width: 1360px){
	.basket_page{
		.itogo{
			padding-left: 32px;
			padding-right: 42px;
			width: auto;
		}

		.price-itogo{
			width: auto;
		}
	}
}


@media (max-width: 1300px){
	.var-list{
		min-width: 0;
	}
	.boxed .toveli li:nth-child(5){
		display: none;
	}

	.wrap-type{
		overflow: visible;
	}

	.cont-form .form-help{
		float: right;
		margin-left: 0;
	}

	.mebelslid{
		$w : 650px;
		div.slide img{
			width: $w;
			display: inline;
		}
		.caroufredsel_wrapper{
			max-width: $w;
			height: 505px !important;
		}

	}

	.conf-panel{
		display: flex;
		justify-content: space-between;
		.conf-pages{
			margin-left: auto;
		}
		.conf-buttons{
			width: auto;
		}
	}
}


@media (max-width: 1290px){
	header{
		.head-icons{
			display: flex;
			justify-content: space-between;
		}

		.head-icon01,
		.head-icon02,
		.head-icon03{
			width: auto;
		}
	}	


	section.content{
		margin-left: 225px;
	}

	.main-full{
		section.content{
			margin-left: 0;
		}
	}



	.item-list li{
		padding-left: 2px;
		padding-right: 2px;
	}
}


@media (max-width: 1279px){
	.cat-list{
		min-width: 0;
	}
	.item-list{
		min-width: 0;
	}
}


@media (max-width: 1260px){
	// catalog brands
	.brand-list{
		min-width: 0;
		text-align: center;
	}

	.basket_page{
		.itogo{
			padding-left: 30px;
		}
		.price-itogo{
			text-align: left;
			width: auto;
		}
	}

}


@media (max-width: 1250px){
	.tov-info-wrap{
		display: flex;
		flex-direction: column;

		.title-wrap{
			order: 0
		}

		.tov-info{
			order: 1;
			br{
				display: none;
			}
		}

		.item-zakaz{
			margin-top: 10px;
			order: 2;
		}
	}

	.cat-spisok .item-zakaz{
		padding-top: 0;
		br{
			display: none;
		}
	}


	// card
	.card2{
		.card-left,
		.spec-box-wrap
		{
			float: none;
			margin-left: 0;
			width: 100%;
		}

		.caroufredsel_wrapper,
		.thumbnails{
			margin-left: auto !important;
			margin-right: auto !important;
			text-align: center;
		}

		 .carouselo div.thumbnails{
			padding-left: 0;
			text-align: center;
			img{
				float: none;
				display: inline-block;
				margin-left: 5px;
				margin-right: 5px;
			}
		}

		.boxed-three .pricez{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

	}
	.under_card_row{
		margin-bottom: -20px;
		.left-prises{
			margin-top: 0;
		}
	}


	.cont-form .row{
		padding-left: 0;
		padding-right: 0;
	}


	.form-type{
		textarea,
		.text
		{
			width: 90%;
		}
	}

	.basket_page{
		.cont-form{
			.row{
				padding-left: 30px;
				padding-right: 15px;
			}
			label{
				font-size: 16px;
			}
		}
	}


	.form-adapt-order_call,
	.form-adapt-order
	{

		.label-code{
			margin-right: 130px !important;
		}
		.form-type .text[name="code"]{
			width: 70px !important;
		}

		.form-type .text[name="phone"]{
			width: calc(100% - 226px) !important
		}
	}	
}


@media (max-width: 1220px){
	#search_form{
		display: none;
	}

	// =header
	header{
		.head{
			&-icons{
				border-top: none;
			}
			&-info{
				margin-right: 0;
				padding-right: 0;
			}
			&-contacts{
				margin-right: 243px;
				padding-bottom: 42px;
			}

			&-phones{
				padding-left: 20px;
				width: 200px;
			}

			&-grafik{
				margin-right: 200px;
			}
		}
	}
	// =/header


	// footer
	footer .filin{
		display: none;
	}
	.footer-box{
		width: calc(100% - 26px);
	}

	.cont-form .submit-wrap{
		display: flex;
		flex-direction: column;
		.form-help{
			margin-top: 0;
			order: 0;
			padding-bottom: 10px;
		}
		button{
			order: 1;
		}
	}

	.mebelslid{
		$w : 580px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			max-width: $w;
			height: 451px !important;
		}
	}

	.basket_page{
		.table{
			img{
				width: 100px !important;
				height: auto;
			}
		}
		.backet tbody td:first-child{
			padding-left: 10px;
			width: auto;
		}
	}
}


@media (max-width: 1150px){
	.cat-spisok .title{
		margin-right: 5px;
		padding-right: 0;
	}

	.mebelslid{
		$w : 500px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			max-width: $w;
			height: 390px !important;
		}
	}

	// catalog
	.conf-panel{
		align-items: center;
		background: none;
		flex-direction: column;
		height: auto;
		justify-content: center;
		margin-top: -30px;
		padding-bottom: 10px;
		.conf-buttons,
		.conf-pages{
			float: none;
			margin-left: 0;
		}
		.conf-pages{
			margin-top: 10px;
		}

		.conf-buttons{
			background: #e7e6e1;
			border-radius: 9px;
			display: flex;
			justify-content: center;
			margin-top: 15px;
			padding: 10px;
			text-align: center;
			width: 100%;
		}
	}


	.content-slider .slider-info-box strong{
		font-size: 19px;
		height: auto;
		padding-bottom: 12px;
	}


}


@media (max-width: 1140px){
	.boxed .toveli li:nth-child(4){
		display: none;
	}


	.form-adapt-watch_price,
	.form-adapt-low_price,
	.form-adapt-error,
	.form-adapt-claims,
	.form-adapt-order,
	.form-adapt-order_call
	{
		.form-type{
			input,
			textarea{
				font-size: 16px;
			}
		}		
	}


	.form-adapt-order_call,
	.form-adapt-order
	{
		.cont-form .label-wrap{
			width: 130px;
		}

		.label-code{
			margin-right: 105px !important;
		}

		.form-type .text-wrap{
			margin-left: 130px;
		}

		.form-type .text[name="code"]{
			margin-right: 22px !important;
		}

		.form-type .text[name="phone"]{
			width: calc(100% - 196px) !important
		}
	}	

}


@media (max-width: 1080px){
	.cat-spisok{
		.item-images{
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
		.tov-info-wrap{
			margin-left: 0;
		}
		.tov-info-wrap{
			margin-left: auto;
			margin-right: auto;
			width: 70%;
		}
	}

	// card
	.under_card_row{
		.left-prises{
			float: none;
		}
		.row{
			float: none;
			margin-right: 0;
			margin-top: 1rem;
		}
	}
	.boxed-three .spi-form{
		padding-left: 0;
	}

	.mebelslid{
		$w : 450px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			max-width: $w;
			height: 350px !important;
		}
	}

	.remember_page{
		.conf-panel{
			margin-top: 0;
		}
	}

	.basket_page{
		.price-itogo{
			font-size: 18px;
		}
		.pereschet{
			font-size: 16px;
		}
		aside.right-sidebar{
			display: none;
		}

		section.content{
			margin-right: 0;
		}
	}

}


@media (max-width: 1070px){
	header .head-phones{
		padding-left: 0;
	}
}


@media (max-width: 1045px){
	// header
	header{
		.head{
			&-phones{
				padding-left: 0;
			}
			&-grafik{
				margin-right: 190px;
			}
			&-info{
				padding-left: 20px;
			}
		}
	}



	.cont-form{
		.label-wrap{
			width: 150px;
		}
		label{
			font-size: 16px;
		}
	}
	.form-type .text-wrap{
		margin-left: 150px;
	}

	.cont-form .submit-wrap{
		padding-left: 150px;
	}



	// guide
	.guide-list{
		.left-block,
		.right-block{
			float: none;
		}
		.left-block{
			.guide-picture{
				display: inline-block;
			}
		}

		h2{
			text-align: center;
			font-size: 22px;
			padding-bottom: 15px;
		}
	}


	// furniture_page
	.furniture_page{
		.guide-list{
			.left-block{
				margin-right: 0;
				text-align: center;

				.caption{
					display: block;
				}
			}
			.desc{
				display: block;
				text-align: center;
			}
		}
	}
}


@media (max-width: 1020px){
	header{
		.head{
			&-grafik{
				display: none;
			}
			&-contacts{
				margin-left: 110px;
				width: 200px;
			}

			&-phones{
				width: 100%;
			}
		}
	}

	// footer
	.footer-bottom{
		display: flex;
		justify-content: space-between;
		.welkome,
		.copy{
			margin-left: 0;
			padding-left: 0;
		}
	}

	.mebelslid{
		$w : 400px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			height: 314px !important;
			max-width: $w;
		}

	}
	.content-slider .slider-info-box strong{
		font-size: 16px;
	}


	.form-adapt-order_call,
	.form-adapt-order
	{
		.form-type .text[name="phone"]{
			width: calc(100% - 184px) !important
		}
	}
}


@media (max-width: 991px){
	header{
		.head{
			&-info{
				margin-left: 170px;
				position: relative;
			}
			&-contacts{
				margin-left: 200px;
			}
		}
	}

	.card2 .carouselo div.thumbnails{
		min-width: 0;
		display: flex !important;
		margin-left: 0;
		width: 100%;
		justify-content: space-between;
	}

	.boxed .toveli li:nth-child(3){
		display: none;
	}

	.error-form .form-text{
		padding-bottom: 0;
	}

	.cont-form{
		padding-bottom: 0;
		margin-bottom: -40px;
		.label-wrap{
			float: none;
		}
		.cent-wrap-type .label-wrap{
			position: static;
		}

		.submit-wrap{
			padding-left: 0;
		}
	}

	.form-type .text-wrap{
		margin-left: 0;
	}


	.mebelslid{
		$w : 350px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			max-width: $w;
			height: 274px !important;
		}
	}

	.content-slider .slider-info-box strong{
		font-size: 13px;
	}

	.content-slider .slider-info-box{
		left: 4px;
	}


	// basket
	.basket_page{
		.itogo{
			flex-wrap: wrap;
		}
		.price-itogo{
			padding-bottom: 10px;
			text-align: center;
			width: 100%;
		}

		.cont-form{
			.label-wrap{
				width: 100%;
			}
			.row{
				padding-top: 12px;
				padding-bottom: 15px;
			}
		}

		.backet-form{
			.smotr{
				float: left;
				margin-top: 15px;
			}
			.green-button-40{
				margin: 10px auto 20px auto;
			}
		}


		.lab-info{
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}


	.boxed-thank{
		h2{
			font-size: 18px;
		}
	}


	.form-adapt-watch_price,
	.form-adapt-low_price,
	.form-adapt-error,
	.form-adapt-claims,
	.form-adapt-order,
	.form-adapt-order_call
	{

		.boxed .boxed-title h1{
			font-size: 28px;
		}
		.cont-form{
			.label-wrap{
				width: 100%;
			}
			label{
				line-height: 1.4;
			}

			.requed-row label{
				background-position: 100% 3px
			}
		}
		.submit-wrap{
			.green-button-40{
				margin: 10px auto 0 auto;
			}
		}		
	}


	.form-adapt-order{
		.form-type{
			.text[name="code"]{
				// position: relative;
				// left: 10px;
			}

		}
	}


	.form-adapt-order_call,
	.form-adapt-order
	{

		.text-input{
			// display: block;
		}
			
		.prefix-code{
			// left: 50%;
			// margin-left: -80px;
			// position: absolute;
			// top: 25px;
		}

		.form-type{
			textarea, .text{
				// width: calc(100% - 32px)
			}

			.text-wrap{
				// position: relative;
				br{
					// display: none;
				}
			}
			.text[name="code"],
			.text[name="phone"]
			{
				// margin-top: 3px;
				// display: block;
				// float: none;
				// margin-left: auto !important;
				// margin-right: auto !important;
			}
			.text[name="code"]{
				// margin-bottom: 10px;
			}

			.text[name="phone"]{
				// margin-top: 30px;
				width: calc(100% - 180px) !important;
			}

			.label-code{
				// display: block;
				// margin-right: 0;
				// margin-left: 0 !important;
				// text-align: center;
				// width: 100%;
			}

			.label-phone{
				// left: 0;
				// margin-right: 0;
				// position: absolute;
				// text-align: center;
				// top: 66px;
				// width: 100%;
			}
		}
	}
}


@media (max-width: 925px){
	// card
	.card2 .carouselo div.thumbnails img{
		width: 30%;
	}	

	.card_page{
		.right-sidebar{
			display: none;
		}

		section.content{
			margin-right: 0;
		}

		.boxed .toveli li:nth-child(3),
		.boxed .toveli li:nth-child(4)
		{
			display: inline-block;
		}
	}

	// footer
	.footer-box{
		margin-right: 26px;
	}
	.footer-nav{
		display: flex;
		justify-content: space-between;
		li{
			padding: 0;
		}
		li:last-child{
			margin-right: 17px;
		}
	}


	.mebelslid{
		$w : 310px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			height: 243px !important;
			max-width: $w;
		}
	}
}


@media (max-width: 910px){
	// card
	.card_page{
		.boxed .toveli li:nth-child(4)
		{
			display: none;
		}
	}
}


@media (max-width: 875px){
	section.content{
		margin-right: 0;
	}

	aside.right-sidebar{
		display: none;
	}


	.mebelslid{
		$w : 320px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			height: 251px !important;
			max-width: $w;
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}


	.form-adapt-order_call,
	.form-adapt-order
	{
		.cont-form label{
			float: none;
			margin-bottom: 5px;
		}


		.prefix-code{
			left: 50%;
			margin-left: 0;
			position: static;
			top: 25px;
		}

		.form-type{
			.text-wrap{
				margin-left: 0;
			}

			.text-wrap br{
				display: block;
			}

			.text-input{
				display: inline;
			}

			.text[name="code"],
			.text[name="phone"]{
				display: inline;
				vertical-align: top;
			}

			.text[name="code"]{
				margin-right: 21px !important;
			}

			.text[name="phone"]{
				// margin-top: 3px;
				width: calc(100% - 160px) !important;
			}

			.label-code{
				display: inline;
				width: auto;
			}
			.label-phone{
				position: static;
				text-align: left;
			}
		}
	}


	.form-adapt-order{
		.prefix-code{
			display: inline-block;
			margin-left: 25px;
			margin-top: 10px;
		}

		.form-type{
			.text[name="phone"]{
				width: calc(100% - 229px) !important;
			}

			.label-code{
				margin-left: 34px !important;
				margin-right: 96px !important;
			}
		}
	}
}


@media (max-width: 840px){
	// =header
	header{
		.head{
			&-contacts{
				margin-left: 175px;
			}
		}
	}
	// =/header


	.footer-bottom{
		.mailto{
			flex: 1;
		}
		.welkome{
			display: none;
		}
	}


	.mebelslid{
		$w : 400px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			height: 313px !important;
			max-width: $w;
		}
	}

	.backet{
		.minus,
		.plus{
			display: none;
		}

		.kolvo-box{
			width: auto;
		}
	}
}


@media (max-width: 810px){
	header{
		.head{
			&-contacts{
				margin-left: 160px;
			}
		}
	}
}



@media (max-width: 799px){
	.head-trash,
	nav ul li.nav1
	{
		display: none;
	}
	header{
		.head{
			&-contacts{
				padding-bottom: 15px;
				width: 100%;
			}
			&-info-holder{
				padding-top: 10px;
			}
			&-phones{
				float: right;
				text-align: right;
			}
			&-contacts{
				margin-left: 0;
			}
		}
	}

	.mobile-trash{
		display: block;
		float: right;
		margin-top: 10px;
		text-align: right;
		a{
			color: #000;
			font-size: 16px;
			font-weight: bold;
			&:hover{
				text-decoration: none;
			}		
		}
	}

	.footer-nav a{
		font-size: 14px;
	}
}


@media (max-width: 768px){
	h1{
		font-size: 32px;
	}
	nav ul a{
		font-size: 24px;
	}

	.conf-panel{
		width: 90%;
		.conf-buttons{
			width: 100%;
		}
	}

	.boxed-three .boxed-title{
		text-align: center;
		padding-top: 10px;
	}

	.spec-table td{
		padding-top: 5px;
		padding-bottom: 4px;
	}
}


@media (max-width: 755px){
	header .head-icons{
		display: none;
	}
	.head-icons,
	.footer-nav li:last-child{
		display: none;
	}
	
	.footer-nav li:nth-last-child(2){
		margin-right: 20px;
	}


	// footer
	footer{
		.flexbox{
			justify-content: space-between;
		}
		.footer-nav{
			padding-bottom: 40px;
		}
	}
	.footer-soc{
		.title{
			display: block;
			float: none;
			margin-bottom: 15px;
			text-align: center;
		}
		.soc-item{
			padding-right: 0;
		}
	}


	// card
	.card_page{
		.boxed .toveli li:nth-child(3)
		{
			display: none;
		}
	}

	.mebelslid{
		$w : 350px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			max-width: $w;
			height: 274px !important;
		}
	}

	.form-adapt-order{
		.form-type{
			.text[name="phone"]{
				width: calc(100% - 217px) !important;
			}
		}
	}
}


@media (max-width: 700px){
	.card2 .caroufredsel_wrapper,
	.card2 .carouselo div.slide{
		width: 100%!important;
		.im{
			max-width: 370px;
			height: auto;
		}
	}

	.mebelslid{
		$w : 310px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			max-width: $w;
			height: 244px !important;
		}
	}
}


@media (max-width: 670px){
	.footer-soc .soc-item.gplus{
		padding-right: 0;
	}
}


@media (max-width: 660px){
	nav ul a{
		font-size: 21px;
		span{
			padding-top: 9px;
		}
	}

	.footer-nav li:nth-last-child(2){
		display: none;
	}

	.main{
		display: flex;
		flex-direction: column;
		.left-sidebar{
			margin-left: 0;
			order: 2;
		}
		.content-wrapper{
			order: 1;
		}

		.content{
			article{
				padding-bottom: 0;
			}
		}
	}

	aside.left-sidebar,
	.filter-form,
	.filter-form .filt-set{
		width: 100%;
	}


	aside.left-sidebar{
		.text-banner{
			display: none;
		}
	}

	.sub-nav ul a{
		background-repeat: repeat-x;
		width: 97%;
	}


	.text-banner,
	aside .login-form{
		margin-left: auto;
		margin-right: auto;
	}

	section.content{
		margin-left: 0;
	}

	// catalog
	.filter-form{
		padding-bottom: 46px;
		.filt-set{
			background: #f7f5f4;
		}
	}

	// mobile banner
	.mobile-banners{
		display: block;
		text-align: center;
		.text-banner{
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
			margin-right: 10px;
		}
	}


	// card
	.card2 .carouselo{
		div.slide{
			width: 550px !important;
		}
		.image{
			img{
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.card_page .boxed .toveli li:nth-child(3),
	.card_page .boxed .toveli li:nth-child(4),
	.card_page .boxed .toveli li:nth-child(5),
	{
		display: inline-block;
	}


	.filt-set .set-name{
		background-position: right 18px top 15px;
	}

	.filter-buttons{
		.clear-btn{
			margin-left: auto;
			margin-right: auto;	
			padding-top: 4px;
		}
	}

	.filter-buttons-bot{
		padding-bottom: 10px;
	}


	// content page
	.boxed .boxed-title h1{
		font-size: 30px;
	}

	article{
		.form-text{
			h2{
				font-size: 22px;
			}
		}
	}

	.boxed-content{
		margin-left: 15px;
	}

	// guide
	.guide-list .right-block{
		float: none;
		text-align: center;
	}


	.conf-panel{
		margin-top: 0;
	}

	.sub-nav-strelkoi span{
		width: calc(100% - 27px)
	}

	.guide-list{
		margin-right: 0;
		.left-block{
			margin-right: 0;
		}
	}

	.remember_page{
		.green-button-40,
		.blue-button-40{
			display: block;
			float: none;
			margin-left: auto;
			margin-right: auto;
		}

		.rem-list .item-zakaz{
			width: 100%;
		}

		form .price-title{
			padding: 8px 0 8px 0 !important;
			text-align: center;
		}

		.spi-form .text-input{
			display: block;
			float: none;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;
		}
	}

	
	// basker
	.basket_page{
		.backet tr td:first-child{
			display: table-cell;
		}

		.backet{
			thead td:last-child{
				text-indent: -9999em;
				width: 25px;
			}
		}
	}

	.boxed-thank{
		h2{
			margin-bottom: 0;
			text-align: center;
		}
	}
}

@media (max-width: 600px){
	nav ul li.nav2{
		display: none;
	}

	// card
	.card2 .carouselo{
		div.slide{
			width: 500px !important;
		}
	}

	.boxed-three .boxed-title h1{
		line-height: 1.2;
		font-size: 24px;
	}
}


@media (max-width: 570px) and (orientation: landscape){
	.content{
		.boxed{
			.form-text{
				font-size: 14px;
			}

		}
	}
}

@media (max-width: 570px){
	header{
		display: flex;
		flex-direction: column;
		.logo{
			background-size: contain;
			height: auto;
			margin-left: auto;
			margin-right: auto;
			order: 0;
			width: 100%;
			background-position: center top;
			a{
				width: 100%;
			}
		}

		.head-info-wrap{
			order: 1;
		}

		.head{
			&-info{
				margin-left: 0;
				margin-right: 0;
				padding-top: 0;
			}
			&-phones{
				float: none;
				text-align: center;
			}
		}
	}


	.mobile-trash{
		float: none;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.boxed-three .boxed-title h1{
		line-height: 1.2;
		font-size: 22px;
	}
}


@media (max-width: 550px){
	.basket_page .backet tr td:first-child{
		// display: none;
	}
}


@media (max-width: 540px){
	// footer
	.footer-box{
		background: none;
	}
	.footer-soc{
		.title{
			display: block;
			float: none;
			padding-bottom: 10px;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}
		.soc-item{
			display: block;
			float: none;
			margin-bottom: 10px;
			margin-left: auto;
			margin-right: auto;
			padding-right: 0;
			text-align: center;
		}
	}

	.footer-nav{
		margin-bottom: 0;
		padding-bottom: 20px;
	}

	.footer-bottom{
		display: block;
		.mailto,
		.copy{
			display: block;
			float: none;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		.copy{
			margin-top: 1rem;
		}
	}

	footer .flexbox{
		display: block;
		#vk_like{
			margin-left: auto;
			margin-right: auto;
		}
	}

	// card
	.card2 .carouselo{
		div.slide{
			width: 450px !important;
		}
	}
}



@media (max-width: 515px){
	nav,
	header .head-phones
	{
		display: none;
	}

	.navbar-toggle{
		display: block;
	}

	.boxed-three .boxed-title h1{
		font-size: 21px;
		padding-right: 10px;
	}

	.form-adapt-order{
		.form-type{
			.text[name="phone"]{
				width: calc(100% - 198px) !important;
			}
		}
	}
}


@media (max-width: 490px){
	// card
	.card2 .carouselo{
		div.slide{
			width: 400px !important;
		}
	}

	// content page
	.boxed .boxed-title h1{
		font-size: 26px;
	}

	article{
		.form-text{
			h2{
				font-size: 18px;
			}
		}
	}
}


@media (max-width: 450px){
	.footer-nav li:last-child,
	.footer-nav li:nth-last-child(2){
		display: block;
		margin-right: 0;
	}
	.footer-nav{
		margin-bottom: 20px;
		display: block;
		li{
			float: none;
			margin-bottom: 7px;
			padding-left: 0 !important;
			margin-right: 0;
			text-align: center;
		}
	}


	// catalog
	.conf-panel{
		.conf-title,
		.conf-button
		{
			display: block;
			float: none;
			margin-left: 0;
		}
		.conf-title{
			display: none;
		}
	}

	// card
	.card2{
		.carouselo{
			div.slide{
				width: 350px !important;
			}
			div.slide .im{
				max-width: 320px;
			}
		}
	}


	// backet
	.basket_page{
		.form-type textarea,
		.form-type .text{
			width: calc(100% - 28px);
		}

		.cont-form .row{
			padding-left: 15px;
		}
	}
}


@media (max-width: 430px){
	.cat-list{
		.price{
			font-weight: bold;
			float: none;
			display: block;
			text-align: center;
		}
		.zak-form{
			float: none;
			margin-top: 20px;
		}
	}

	.cat-spisok{
		.tov-info-wrap{
			width: 89%;
		}
		.carouselo-c div.thumbnails img{
			width: 32%;
		}
	}

	.mebelslid{
		$w : 320px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			max-width: $w;
			height: 250px !important;
		}
	}
}


@media (max-width: 415px){
	.text-row{
		text-align: justify;
	}

	.content{
		article{
			padding-bottom: 0;
		}
	}
	.main{
		padding-bottom: 0;
	}

	.carouselo-c div.slide{
		height: 240px;
		width: 325px;
	}

	.cat-list{
		max-width: 320px;
		overflow: hidden;
		li{
			width: 100%;
		}

		.item-desc{
			margin-left: auto;
			margin-right: auto;
			width: 280px;
		}
	}
	.cat-list .image img{
		display: block;
		height: auto;
		max-width: 268px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.carouselo-c{
		div.thumbnails{
			max-width: 100%;
			width: auto;
			img{
				height: auto;
				width: 93px;
			}
		}
	}

	.mobile-banners{
		margin-top: 20px;
	}


	.cat-spisok .item-images{
		max-width: 100%;
	}


	.basket_page{
		.itogo{
			flex-direction: column;
			text-align: center;
		}

		.backet-form .pereschet{
			border-bottom: none;
			margin-top: 15px;
			text-decoration: underline;
		}
	}


	.boxed .boxed-title h1{
		font-size: 20px;
	}
}


@media (max-width: 400px){
	// card
	.card2{
		.carouselo{
			div.slide{
				width: 330px !important;
			}
			div.slide .im{
				max-width: 310px;
			}
		}
	}

	.under_card_row .left-prises{
		padding-bottom: 10px;
	}

	.boxed-three .pricez{
		text-align: center;
	}

	.spi-form .text-input,
	.boxed-three .spi-form label{
		float: none;
	}

	.boxed-three .spi-form .green-button-40{
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		width: 250px;
	}

	.mebelslid{
		$w : 310px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			max-width: $w;
			height: 245px !important;
			margin-left: -10px !important;
		}

	}
	.slider-conf-full{
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 0;
		width: 110%;
	}


	.cat-spisok .item-zakaz{
		width: 100%;
		.text-input,
		.gray-button-40{
			float: none;
		}
	}
}


@media (max-width: 390px){
	.icolist{
		display: flex;
		li{
			padding-left: 2px;
		}
	}

	// card
	.card2{
		.carouselo{
			div.slide{
				width: 300px !important;
			}
			div.slide .im{
				max-width: 300px;
			}
		}
	}

	.card2 .carouselo .big-zoom{
		display: none;
	}

	.card2 .carouselo div.thumbnails{
		margin-top: -60px;
	}

	.mebelslid{
		$w : 290px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			max-width: $w;
			height: 227px !important;
		}
	}

	.content-slider .slider-info-box strong{
		padding-left: 5px;
		padding-right: 5px;
	}
}


@media (max-width: 375px){
	h1{
		font-size: 25px;
	}

	header .head-info{
		padding-left: 0;
	}

	// card
	.card2{
		.carouselo{
			div.slide{
				width: 300px !important;
			}
			div.slide .im{
				max-width: 270px;
			}
		}
	}
	.card2 .carouselo div.thumbnails{
		margin-top: -80px;
		position: relative;
		img{
			height: 70px;
		}
	}


	.boxed .boxed-title{
	}

	.boxed-content{
		line-height: 1.3;
		text-align: justify;
	}	

	.boxed-three .zapo{
		margin-bottom: 15px;
	}

	.boxed{
		.boxed-title{
			padding-top: 10px;
			text-align: center;
			strong{
				margin-left: 0;
			}
			h1{
				padding-left: 10px;
				padding-top: 7px;
			}
		}
	}




	.cont-form{
		label{
			float: none;
		}
		.label-wrap{
			width: 100%;
		}

		.submit-wrap{
			padding-right: 0;
			text-align: center;
			button{
				float: none;
				margin-left: auto;
				margin-right: auto;
			}

			.form-help{
				display: block;
				float: none;
			}
		}
	}

	.form-type textarea, .form-type .text{
		width: calc(100% - 30px);
	}


	.mebelslid .caroufredsel_wrapper{
		left: -20px !important;
	}

	.slider-conf-full{
		width: 120%;
	}


	// sales
	.carouselo-c  div.thumbnails img{
		float: none;
	}


	.basket_page{
		.big-text-type{
			font-size: 15px;
			line-height: 1.2;
			text-align: justify;
		}
	}


	.form-adapt-order .form-type .label-code{
		margin-right: 50px !important;
	}

	.form-adapt-watch_price,
	.form-adapt-low_price,
	.form-adapt-error,
	.form-adapt-claims
	{
		.boxed{
			padding-bottom: 20px;
			.boxed-title h1{
				font-size: 22px;
				line-height: 1.2;
			}
		}
		.cont-form {
			.row{
				padding-top: 12px;
				padding-bottom: 12px;
			}
			label{
				font-size: 15px;
			}
		}
		.form-type{
			.text,
			textarea{
				font-size: 14px;
				line-height: 1.4;
			}
		}
	}

	.form-adapt-order_call,
	.form-adapt-order{
		.form-type{
			.text[name="code"]{
				font-size: 14px;
				padding-left: 5px;
				padding-right: 5px;
				width: 38px !important;
			}
			.text[name="phone"]{
				width: calc(100% - 105px) !important;
			}
		}
		.label-code{
			margin-right: 55px !important;
		}
	}


	.form-adapt-order{
		.form-type{
			.text[name="phone"]{
				width: calc(100% - 136px) !important;
			}
		}
	}


	.cat-spisok{
		.item-zakaz{
			.price-title,
			.price{
				text-align: center;
			}

			.spi-form{
				padding-left: 20px;
			}
		}

		.carouselo-c div.slide{
			padding-left: 0;
			a{
				left: 0;
			}
		}
	}


	.tov-info .remo{
		margin-left: 65px;
	}

	.cat-list{
		.zak-form{
			margin-left: 12px;
		}
		.rem{
			margin-left: 60px;
			margin-top: 20px;
		}

		.carouselo-c div.slide{
			margin-left: -5px;
			padding-left: 0;
		}
	}
}


@media (max-width: 350px){
	// card
	.card2{
		.carouselo{
			div.slide{
				width: 290px !important;
			}
			div.slide .im{
				max-width: 250px;
			}
		}
	}
	.card2 .carouselo div.thumbnails{
		margin-top: -100px;
	}


	.spec-table td:first-child{
		padding-left: 5px;
		padding-right: 0;
		width: auto;
	}


	.boxed-three{
		.dev-by{
			float: none;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.boxed-title{
			h1{
				padding-top: 10px;
				display: block;				
			}
			text-align: center;
		}
	}

	.card_page{
		.content{
			.centered{
				text-align: justify;
			}
		}
		.card-left .vopr{
			display: none;
		}

		.icolist img{
			width: 95%;
		}

		.boxed .toveli li{
			text-align: center;
		}

		.var-list .pli-price{
			padding-top: 3px;
			font-weight: bold;
		}
	}

	.mebelslid{
		$w : 280px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			max-width: $w;
			height: 220px !important;
		}
	}

	#pager2 li{
		margin-left: 4px;
		margin-right: 4px;
	}

	// furniture_page
	.furniture_page{
		.guide-list{
			img{
				max-width: 100%
			}
		}
	}

}


@media (max-width: 340px){
	header .head-info-holder{
		padding-top: 10px;
	}

	.cat-spisok .carouselo-c div.thumbnails img{
		width: 31.8%;
	}

	// card
	.card2{
		.carouselo{
			div.slide{
				width: 260px !important;
			}
			div.slide .im{
				max-width: 240px;
			}
		}
	}


	.mebelslid{
		$w : 270px;
		div.slide img{
			width: $w;
		}
		.caroufredsel_wrapper{
			max-width: $w;
			height: 210px !important;
		}
	}

	.content-slider .slider-info-box{
		width: 200px;
			left: 15px;
		strong{
			background: #8d8073;
		}
	}


	#pager2 li{
		margin-left: 1px;
		margin-right: 1px;
	}
}


@media (max-width: 330px){
	.slider-conf-full .pager{
		text-align: center;
		margin-left: -10px;
	}

	#pager2 li{
		margin-left: 6px;
		margin-right: 6px;
	}
}



@media (max-width: 320px){
	body{
		min-width: 0;
	}

	header .head-info-holder{
		padding-top: 0;
	}


	header .logo{
		width: 90%;
	}

	.mobile-trash{
		margin-top: 0;
	}

	#page-wrapper{
		min-width: 0;
		max-width: 100%;
	}	


	.mebelslid .caroufredsel_wrapper{
		left: 0 !important;
	}

	.cat-list{
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		li{
			padding-right: 0;
			padding-left: 0;
		}
	}

	.cat-spisok{
		.image img{
			max-width: 98%;
			height: auto;
		}
		.carouselo-c div.slide{
			width: 285px !important;
		}

		.carouselo  div.slide{
			margin: 0 auto;
		}
	}


	.carouselo-c div.slide{
		width: 289px;
		a{
			position: relative;
			left: 4px;
		}
	}

	.cat-list{
		max-width: 300px;

		.item-desc{
			margin-left: auto;
			margin-right: auto;
			width: 280px;
		}

		li{
			position: relative;
			&:after{
				content: "";
				display: block;
				border-top: 1px solid #eee;
				position: absolute;
				left: 25%;
				top: 10px;
				width: 50%;
			}
		}
	}

	.carouselo-c div.thumbnails img{
		width: 86px;
	}


	// content page
	.boxed .boxed-title h1{
		line-height: 1.2;
		font-size: 22px;
	}


	.mebelslid{
		margin-left: -15px;
	}


	.tovar-sect .sect-title strong{
		font-size: 21px;
	}


	.form-adapt-order_call{
		.form-type{
			.text[name="phone"]{
				width: calc(100% - 110px) !important;
			}
		}
	}


	.boxed .boxed-title h1{
		font-size: 18px;
	}


	.tov-info .remo{
		margin-left: 60px;
	}
}

