@media (min-width: 1600px){
	body{
		min-width: 1280px;
	}

	#page-wrapper{
		min-width: 1260px;
		max-width: 1600px;
	}
}


@media (min-width: 1280px){
	body{
		min-width: 1240px;
	}

	#page-wrapper{
		min-width: 1240px;
	}
}


@media (min-width: 880px){
	body{
		min-width: 860px;
	}

	#page-wrapper{
		min-width: 860px;
	}
}



@media (min-width: 660px){
	body{
		min-width: 630px;
	}

	#page-wrapper{
		min-width: 630px;
		max-width: 100%;
	}
}



@media (min-width: 200px){
	body{
		min-width: 0;
	}

	#page-wrapper{
		min-width: 0;
		max-width: 100%;
	}	
}



@media (max-width: 1290px){
	header{
		.head-icons{
			display: flex;
			justify-content: space-between;
		}

		.head-icon01,
		.head-icon02,
		.head-icon03{
			width: auto;
		}
	}	
}



@media (max-width: 1270px){

}

@media (max-width: 1220px){
	#search_form{
		display: none;
	}

	header{
		.head{
			&-icons{
				border-top: none;
			}
			&-info{
				margin-right: 0;
				padding-right: 0;
			}
			&-contacts{
				margin-right: 243px;
				padding-bottom: 42px;
			}

			&-phones{
				padding-left: 20px;
				width: 200px;
			}

			&-grafik{
				margin-right: 200px;
			}
		}
	}
}


@media (max-width: 1070px){
	header .head-phones{
		padding-left: 0;
	}
}


@media (max-width: 1045px){
	header{
		.head{
			&-phones{
				padding-left: 0;
			}
			&-grafik{
				margin-right: 190px;
			}
			&-info{
				padding-left: 20px;
			}
		}
	}
}


@media (max-width: 1020px){
	header{
		.head{
			&-grafik{
				display: none;
			}
			&-contacts{
				margin-left: 110px;
				width: 200px;
			}

			&-phones{
				width: 100%;
			}
		}
	}
}


@media (max-width: 991px){
	header{
		.head{
			&-info{
				margin-left: 170px;
				position: relative;
			}
			&-contacts{
				margin-left: 200px;
			}
		}
	}
}


@media (max-width: 840px){
	header{
		.head{
			&-contacts{
				margin-left: 175px;
			}
		}
	}
}


@media (max-width: 810px){
	header{
		.head{
			&-contacts{
				margin-left: 160px;
			}
		}
	}
}



@media (max-width: 799px){
	.head-trash{
		display: none;
	}
	header{
		.head{
			&-contacts{
				padding-bottom: 15px;
				width: 100%;
			}
			&-info-holder{
				padding-top: 30px;
			}
		}
	}
}


@media (max-width: 755px){
	header .head-icons{
		display: none;
	}
}



@media (max-width: 799px){
	header{
		.head{
			&-phones{
				float: right;
				text-align: right;
			}
			&-contacts{
				margin-left: 0;
			}
		}
	}
}


@media (max-width: 570px){
	header{
		display: flex;
		flex-direction: column;
		.logo{
			background-size: contain;
			height: auto;
			margin-left: auto;
			margin-right: auto;
			order: 0;
			width: 100%;
			background-position: center top;
			a{
				width: 100%;
			}
		}

		.head-info-wrap{
			order: 1;
		}

		.head{
			&-info{
				margin-left: 0;
				margin-right: 0;
				padding-top: 0;
			}
			&-phones{
				text-align: center;
			}
		}
	}
}


@media (max-width: 570px){
	header{
		.logo{

		}
	}
}


@media (max-width: 340px){
	header .head-info-holder{
		padding-top: 10px;
	}
}


@media (max-width: 320px){
	header .head-info-holder{
		padding-top: 0;
	}
}

@media (max-width: 320px){
	body{
		min-width: 0;
	}

	#page-wrapper{
		min-width: 0;
		max-width: 100%;
	}	
}

