@media (min-width: 1600px) {
  body {
    min-width: 1280px;
  }
  #page-wrapper {
    min-width: 1260px;
    max-width: 1600px;
  }
}

@media (min-width: 1280px) {
  body {
    min-width: 1240px;
  }
  #page-wrapper {
    min-width: 1240px;
    max-width: 100%;
  }
}

@media (min-width: 880px) {
  body {
    min-width: 860px;
  }
  #page-wrapper {
    min-width: 860px;
    max-width: 100%;
  }
}

@media (max-width: 1290px) {
  header .head-icons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .head-icon01,
  header .head-icon02,
  header .head-icon03 {
    width: auto;
  }
}

@media (max-width: 1220px) {
  #search_form {
    display: none;
  }
  header .head-icons {
    border-top: none;
  }
  header .head-info {
    margin-right: 0;
    padding-right: 0;
  }
  header .head-contacts {
    margin-right: 243px;
    padding-bottom: 42px;
  }
  header .head-phones {
    padding-left: 20px;
    width: 200px;
  }
  header .head-grafik {
    margin-right: 200px;
  }
}

@media (max-width: 1070px) {
  header .head-phones {
    padding-left: 0;
  }
}

@media (max-width: 1045px) {
  header .head-phones {
    padding-left: 0;
  }
  header .head-grafik {
    margin-right: 190px;
  }
  header .head-info {
    padding-left: 20px;
  }
}

@media (max-width: 1020px) {
  header .head-grafik {
    display: none;
  }
  header .head-contacts {
    margin-left: 110px;
    width: 200px;
  }
  header .head-phones {
    width: 100%;
  }
}

@media (max-width: 991px) {
  header .head-info {
    margin-left: 170px;
    position: relative;
  }
}

@media (max-width: 930px) {
  header .head-contacts {
    margin-left: 200px;
  }
}

@media (max-width: 320px) {
  body {
    min-width: 0;
  }
  #page-wrapper {
    min-width: 0;
    max-width: 100%;
  }
}
