.mobile-trash {
  display: none;
}

@media (min-width: 1600px) {
  body {
    min-width: 1280px;
  }
  #page-wrapper {
    min-width: 1260px;
    max-width: 1600px;
  }
}

@media (min-width: 1280px) {
  body {
    min-width: 1240px;
  }
  #page-wrapper {
    min-width: 1240px;
  }
}

@media (min-width: 880px) {
  body {
    min-width: 860px;
  }
  #page-wrapper {
    min-width: 860px;
  }
}

@media (min-width: 660px) {
  body {
    min-width: 630px;
  }
  #page-wrapper {
    min-width: 630px;
    max-width: 100%;
  }
}

@media (min-width: 200px) {
  body {
    min-width: 0;
  }
  #page-wrapper {
    min-width: 0;
    max-width: 100%;
  }
}

@media (max-width: 1290px) {
  header .head-icons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .head-icon01,
  header .head-icon02,
  header .head-icon03 {
    width: auto;
  }
  section.content {
    margin-left: 215px;
  }
  .item-list li {
    padding-left: 2px;
    padding-right: 2px;
  }
}

@media (max-width: 1279px) {
  .item-list {
    min-width: 0;
  }
}

@media (max-width: 1220px) {
  #search_form {
    display: none;
  }
  header .head-icons {
    border-top: none;
  }
  header .head-info {
    margin-right: 0;
    padding-right: 0;
  }
  header .head-contacts {
    margin-right: 243px;
    padding-bottom: 42px;
  }
  header .head-phones {
    padding-left: 20px;
    width: 200px;
  }
  header .head-grafik {
    margin-right: 200px;
  }
  footer .filin {
    display: none;
  }
  .footer-box {
    width: calc(100% - 26px);
  }
}

@media (max-width: 1070px) {
  header .head-phones {
    padding-left: 0;
  }
}

@media (max-width: 1045px) {
  header .head-phones {
    padding-left: 0;
  }
  header .head-grafik {
    margin-right: 190px;
  }
  header .head-info {
    padding-left: 20px;
  }
}

@media (max-width: 1020px) {
  header .head-grafik {
    display: none;
  }
  header .head-contacts {
    margin-left: 110px;
    width: 200px;
  }
  header .head-phones {
    width: 100%;
  }
  .footer-bottom {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-bottom .welkome,
  .footer-bottom .copy {
    margin-left: 0;
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  header .head-info {
    margin-left: 170px;
    position: relative;
  }
  header .head-contacts {
    margin-left: 200px;
  }
}

@media (max-width: 925px) {
  .footer-box {
    margin-right: 26px;
  }
  .footer-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-nav li {
    padding: 0;
  }
  .footer-nav li:last-child {
    margin-right: 17px;
  }
}

@media (max-width: 875px) {
  section.content {
    margin-right: 0;
  }
  aside.right-sidebar {
    display: none;
  }
}

@media (max-width: 840px) {
  header .head-contacts {
    margin-left: 175px;
  }
  .footer-bottom .mailto {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer-bottom .welkome {
    display: none;
  }
}

@media (max-width: 810px) {
  header .head-contacts {
    margin-left: 160px;
  }
}

@media (max-width: 799px) {
  .head-trash,
  nav ul li.nav1 {
    display: none;
  }
  header .head-contacts {
    padding-bottom: 15px;
    width: 100%;
  }
  header .head-info-holder {
    padding-top: 10px;
  }
  header .head-phones {
    float: right;
    text-align: right;
  }
  header .head-contacts {
    margin-left: 0;
  }
  .mobile-trash {
    display: block;
    float: right;
    margin-bottom: 10px;
    text-align: right;
  }
  .mobile-trash a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
  }
  .mobile-trash a:hover {
    text-decoration: none;
  }
  .footer-nav a {
    font-size: 14px;
  }
}

@media (max-width: 755px) {
  .head-icons,
  .footer-nav li:last-child {
    display: none;
  }
  .footer-nav li:nth-last-child(2) {
    margin-right: 20px;
  }
}

@media (max-width: 730px) {
  header .head-icons {
    display: none;
  }
}

@media (max-width: 660px) {
  nav ul a {
    font-size: 24px;
  }
  .footer-nav li:nth-last-child(2) {
    display: none;
  }
  .main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .left-sidebar {
    margin-left: 0;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .main .content-wrapper {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  aside.left-sidebar {
    width: 100%;
  }
  .text-banner {
    width: 211px;
  }
  .text-banner,
  aside .login-form {
    margin-left: auto;
    margin-right: auto;
  }
  section.content {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  nav ul li.nav2 {
    display: none;
  }
}

@media (max-width: 570px) {
  header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logo {
    background-size: contain;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
    background-position: center top;
  }
  header .logo a {
    width: 100%;
  }
  header .head-info-wrap {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  header .head-info {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
  }
  header .head-phones {
    text-align: center;
  }
  .mobile-trash {
    float: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 540px) {
  .footer-box {
    background: none;
  }
  .footer-soc .title {
    display: block;
    float: none;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .footer-soc .soc-item {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding-right: 0;
  }
  .footer-nav {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .footer-bottom {
    display: block;
  }
  .footer-bottom .mailto,
  .footer-bottom .copy {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .footer-bottom .copy {
    margin-top: 1rem;
  }
}

@media (max-width: 450px) {
  .footer-nav li:last-child,
  .footer-nav li:nth-last-child(2) {
    display: block;
    margin-right: 0;
  }
  .footer-nav {
    margin-bottom: 20px;
    display: block;
  }
  .footer-nav li {
    float: none;
    margin-bottom: 7px;
    padding-left: 0 !important;
    margin-right: 0;
    text-align: center;
  }
}

@media (max-width: 415px) {
  .text-row {
    text-align: justify;
  }
  .content article {
    padding-bottom: 0;
  }
  .main {
    padding-bottom: 0;
  }
}

@media (max-width: 340px) {
  header .head-info-holder {
    padding-top: 10px;
  }
}

@media (max-width: 320px) {
  body {
    min-width: 0;
  }
  header .head-info-holder {
    padding-top: 0;
  }
  #page-wrapper {
    min-width: 0;
    max-width: 100%;
  }
}
